@model UserViewModel
@using Common.Resources
@using OwlTesting.ViewModels
@Html.ValidationSummary()
<form asp-action="AddUser" role="form" method="post" onsubmit="prepareForm();">
	@await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = General.AddUser })
	<div class="modal-body form-horizontal">
		<div class="row">
			<div class="col-lg-12">
				<div class="form-group">
					<label asp-for="UserName" class="col-lg-3 col-sm-3 control-label"></label>
					<div class="col-lg-6">
						<input asp-for="UserName" class="form-control" required/>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="Password" class="col-lg-3 col-sm-3 control-label"></label>
					<div class="col-lg-6">
						<input asp-for="Password" class="form-control password-new" required />
					</div>
					<button type="button" class="btn btn-success btn-sm btn-generate-new student-form-group">@General.GenerateNew</button>
					<div class="col-xs-12">
						<small class="text-muted student-form-group">Якщо створюється студент, пароль буде згенерований випадковим чином</small>
					</div>
				</div>
				<div class="form-group non-student-block">
					<label asp-for="ConfirmPassword" class="col-lg-3 col-sm-3 control-label"></label>
					<div class="col-lg-6">
						<input asp-for="ConfirmPassword" class="form-control password-repeat" required />
					</div>
				</div>
				<div class="form-group">
					<label asp-for="Email" class="col-lg-3 col-sm-3 control-label"></label>
					<div class="col-lg-6">
						<input asp-for="Email" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label asp-for="FirstName" class="col-lg-3 col-sm-3 control-label"></label>
					<div class="col-lg-6">
						<input asp-for="FirstName" class="form-control" required/>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="LastName" class="col-lg-3 col-sm-3 control-label"></label>
					<div class="col-lg-6">
						<input asp-for="LastName" class="form-control" required/>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="ApplicationRoleId" class="col-lg-3 col-sm-3 control-label"></label>
					<div class="col-lg-6">
						<select asp-for="ApplicationRoleId" asp-items="@Model.ApplicationRoles" class="form-control select-role">
							<option>Оберіть будь ласка</option>
						</select>
					</div>
				</div>
				<div class="form-group student-form-group">
					<div class="col-lg-3"></div>
					<div class="col-lg-9">
						<small class="text-muted">Поля для студента</small>
					</div>
				</div>
				<div class="form-group student-form-group">
					<label asp-for="Group" class="col-lg-3 col-sm-3 control-label"></label>
					<div class="col-lg-6">
						<input asp-for="Group" class="form-control" />
					</div>
				</div>
				<div class="form-group student-form-group">
					<label asp-for="StudentId" class="col-lg-3 col-sm-3 control-label"></label>
					<div class="col-lg-6">
						<input asp-for="StudentId" class="form-control" />
					</div>
				</div>
				<div class="form-group student-form-group">
					<label asp-for="StudyStartDate" class="col-lg-3 col-sm-3 control-label"></label>
					<div class="col-lg-6">
						<input asp-for="StudyStartDate" class="form-control" type="date"/>
					</div>
				</div>
				<div class="form-group student-form-group">
					<label asp-for="StudyEndDate" class="col-lg-3 col-sm-3 control-label"></label>
					<div class="col-lg-6">
						<input asp-for="StudyEndDate" class="form-control" type="date" />
					</div>
				</div>
			</div>
		</div>
	</div>
	@await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>

<script>
	function showOrHideStudentBlocks(selectElement) {
		var selectValue = $(selectElement).val();
		if (selectValue === "3") {
			$(".student-form-group").show();
			setPassword();
			$(".password-new").attr("type", "text");
			$(".non-student-block").hide();
		}
		else {
			$(".student-form-group").hide();
			$(".non-student-block").show();
			$(".password-new").attr("type", "password");
		}
	}
	function setEventForSelectRole() {
		$(".select-role").change(function () {
			showOrHideStudentBlocks($(this));
		});
	}
	function setPassword() {
		$(".password-new").val(guid());
		
	}
	function setEventForGenerating() {
		$(".btn-generate-new").click(function () {
			$(".password-new").val(guid());
		});
	}
	function guid() {
		function s4() {
			return Math.floor((1 + Math.random()) * 0x10000)
				.toString(16)
				.substring(1);
		}

		return s4() + '-' + s4() + '-' + s4();
	}
	function prepareForm() {
		if ($(".select-role").val() === "3") {
			$(".password-repeat").val($(".password-new").val());
		}
		return true;
	}
	$(document).ready(function () {
		showOrHideStudentBlocks($(".select-role"));
		setEventForSelectRole();
		setEventForGenerating();
	});
</script>
