@model SubjectDTO
@using Common.Resources
@using OwlTesting.ViewModels
@using Model.DTO

<form asp-action="DeleteSubjectPost" role="form">
    @Html.Partial("_ModalHeader", new ModalHeader { Heading = General.SubjectRemoving })
    <input type="hidden" asp-for="Id" />
    <div class="modal-body form-horizontal">
       @General.DeleteConfirmation @Model.Name?
    </div>
    @Html.Partial("_ModalFooter", new ModalFooter { SubmitButtonText = General.Remove })
</form>

